  @font-face {
  font-family: Ethnocentric;
  src: url('../fonts/ethnocentric/ethnocentric-it.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: AGCond;
  src: url('../fonts/ITCAvantGardeStd-MdCn.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: AGCNorm;
  src: url('../fonts/ITCAvantGardeStd-BkCn.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: AvantGarde;
  src: url('../fonts/ITCAvantGardeStd-Md.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: AGBook;
  src: url('../fonts/ITCAvantGardeStd-Bk.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: AGBold;
  src: url('../fonts/ITCAvantGardeStd-Bold.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Hacked;
  src: url('../fonts/Hacked-KerX.ttf') format('TrueType');
  font-weight: 400;
  font-style: normal
}
:root {
  --ds: drop-shadow(rgba(0, 0, 0, 0.3) 1px 2px 2px);
  --mshadow: rgba(34, 34, 34, 0.1) 0px 1px 1px,rgba(34, 34, 34, 0.1) 0px 2px 2px,rgba(34, 34, 34, 0.1) 1px 3px 8px
}
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: AGBook,Arial,Helvetica,sans-serif;
  scroll-behavior: smooth
}
body {
  margin: 0
}
strong {
  font-family: AGBold,Arial,Helvetica,sans-serif;
  padding-right: .2dvw
}
sup {
  vertical-align: super;
  font-size: .7rem
}
#headerdiv {
  background-image: url("../images/headBg.jpg");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  position: relative;
  height: clamp(15rem,50dvw,50rem);
  border-bottom-style: solid;
  border-bottom-color: #2a2e3a;
  border-bottom-width: clamp(1.8rem,2.5dvw,2.5rem);
  z-index: 850
}
.moving-logo {
  width: 100%;
  z-index: 800;
  position: relative;
  top: -10rem;
  text-align: center;
  display: inline
}
.moving-spacelogo {
  position: sticky;
  height: 0;
  top: clamp(.8rem,1.8dvw,1.8rem);
  z-index: 850
}
.moving-spacelogo h1 {
  font-size: clamp(1.1rem, 2.5dvw, 2.5rem);
  text-shadow: var(--mshadow)
}
#sloganbox {
  width: 50%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  background-position: center;
  background-image: url("../images/logo-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center
}
.textbox {
  text-align: center;
  margin-bottom: 3dvw
}
h1 {
  font-family: Ethnocentric,Arial,Helvetica,sans-serif;
  font-size: clamp(1.9rem, 3.5dvw, 3.5rem);
  color: #fff;
  line-height: clamp(2rem, 3.7dvw, 3.7rem);
  text-shadow: rgba(164,222,248,.4) 0 2px 12px,rgba(215,222,240,.4) 0 4px 20px,rgba(215,222,240,.4) 0 8px 40px
}
h3 {
  font-family: AGCond,Arial,Helvetica,sans-serif;
  font-size: clamp(1.05rem, 1.8dvw, 1.8rem);
  color: #fff
}
.logo {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: center;
  position: relative
}
.logo p {
  font-family: Ethnocentric,Arial,Helvetica,sans-serif;
  color: #fff;
  text-shadow: rgba(164,222,248,.4) 0 2px 12px,rgba(215,222,240,.4) 0 4px 20px,rgba(215,222,240,.4) 0 8px 40px
}
@media only screen and (max-width:900px) {
  #sloganbox {
    width: 100%;
    height: 30%;
    top: 35%;
    flex-direction: row
  }
  h1 {
    font-size: clamp(1.9rem, 4.5dvw, 4.5rem);
    line-height: clamp(1.6rem, 3.7dvw, 3.7rem)
  }
  h3 {
    font-size: clamp(1rem, 2.4dvw, 2.4rem)
  }
  .logo {
    margin-bottom: 0;
    margin-right: 3dvw
  }
  .textbox {
    margin-bottom: 0
  }
}
@media only screen and (min-width:480px) and (max-width:690px) {
  .moving-logo {
    text-align: right
  }
  .moving-spacelogo {
    margin-right: 2dvw
  }
}
@media only screen and (max-width:480px) {
  #sloganbox {
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    top: 20%
  }
  .logo {
    margin: .5dvw 0 1.5dvw
  }
}
.mobile-menu {
  display: none
}
nav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: .5dvw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  z-index: 999
}
.desktop-menu ul {
  list-style: none
}
.menubutton {
  display: inline-block;
  background-color: #fff;
  width: 9rem;
  transform: skew(-45deg);
  text-align: center;
  margin: 0 .2dvw;
  box-shadow: var(--mshadow)
}
.menubutton p {
  font-family: AGCNorm,Arial,Helvetica,sans-serif;
  transform: skew(45deg);
  text-transform: uppercase;
  font-size: .9rem;
  margin: .2dvw 0
}
.menubutton:hover {
  background-color: #2a2e3a;
  color: #fff;
  cursor: pointer;
  box-shadow: #e8f8ff 0 0 2px,rgba(177,211,236,.767) 0 1px 8px 0,rgba(143,194,218,.493) 0 2px 16px 0
}
.menubutton:active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: none
}
@media only screen and (min-width:480px) and (max-width:900px) {
  .menubutton {
    width: 8rem;
    transform: rotate(45deg) skew(-45deg);
    margin: 1rem 0 0 -6rem;
    box-shadow: none;
    text-align: right
  }
  .menubutton p {
    margin-right: 1rem
  }
  .desktop-menu ul {
    margin-left: 3.3rem
  }
  nav {
    padding-top: 0;
    justify-content: flex-start
  }
}
@media only screen and (max-width:480px) {
  .desktop-menu {
    display: none
  }
  .mobile-menu {
    display: block;
    opacity: 1
  }
  nav {
    justify-content: flex-start;
    padding-left: 2dvw;
    padding-top: .7dvw
  }
}
main {
  color: #d4dbed
}
.gradient-bg {
  width: 100%;
  height: clamp(3rem,8dvw,8rem);
  background: linear-gradient(#2a2e3a52 5%,#fff 100%)
}
#moonsurface-devider {
  position: absolute;
  top: clamp(15rem,50dvw,50rem);
  left: 0;
  width: 100%;
  height: clamp(4rem,6dvw,6rem);
  background-image: url('../images/bg01.jpg');
  background-size: cover;
  border-top: 1px solid #2a2e3a;
  border-bottom: 1rem solid #2a2e3a
}
#moon-bg {
  display: inline;
  position: relative;
  top: 0;
  left: 0
}
#moving-menu-bg {
  width: 100%;
  height: clamp(3rem,5dvw,5rem);
  background-image: url('../images/bg01.jpg');
  opacity: .6;
  background-size: cover;
  display: block;
  position: sticky;
  top: 0;
  z-index: 700
}
.news {
  position: relative;
  width: 100%;
  height: clamp(12rem,20dvw,20rem);
  margin: 1dvw 0 4dvw
}
.news .upcoming-bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(255,255,255,.4),rgba(255,255,255,.4)) center/cover,url('../images/marsBg.jpg') center/cover
}
.news .do-you-have {
  margin: 1rem 0;
  position: relative;
  background-image: url('../images/marsBg.jpg');
  background-size: cover;
  background-position-x: right
}
.news .do-you-image {
  background-image: url('../images/upcoming.jpeg');
  height: clamp(10rem,18dvw,18rem);
  clip-path: polygon(0% 100%,20% 0%,80% 0,60% 100%,63% 100%,83% 0%,100% 0%,80% 100%)
}
.news .do-you-text {
  height: clamp(10rem,18dvw,18rem)
}
.news .do-you-have .do-you-text h1 {
  color: #a32a04;
  text-shadow: #00000033 0 1px 1px,#00000034 0 3px 5px,#00000049 0 4px 6px
}
.news .do-you-have .join-button {
  margin-top: clamp(1rem,1.5dvw,1.5rem);
  filter: drop-shadow(rgba(0, 0, 0, .4) 0px 2px 2px)
}
.news .do-you-have .do-you-text h3 {
  color: #fff
}
.news .join-button-text {
  background-color: #a32a04
}
.news .join-button:hover .join-button-text {
  background-color: #fff;
  color: #a32a04
}
.news .join-button:active {
  filter: none
}
.dropshadow-bigbox {
  filter: var(--ds)
}
#who-are-we {
  padding-top: clamp(2rem,5dvw,5rem);
  padding-bottom: clamp(3rem,10dvw,10rem);
  padding-left: 2dvw;
  padding-right: 2dvw;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-flow: wrap row;
  column-gap: 3dvw;
  row-gap: clamp(1.5rem,4dvw,4rem);
  color: #2a2e3a
}
.big-image-div {
  background-size: cover;
  width: clamp(10rem,20dvw,20rem);
  height: clamp(14rem,20dvw,20rem);
  background-position-x: center;
  float: left;
  margin-right: clamp(.5rem,1dvw,1rem);
  margin-bottom: .5dvw;
  clip-path: polygon(0% 0%,80% 0%,100% 100%,20% 100%,0% 0%,0% 10%,17.5% 100%,0% 100%);
  shape-outside: polygon(0% 0%,80% 0%,100% 100%,0% 100%)
}
.small-image-div {
  float: right;
  width: clamp(2rem,4dvw,4rem);
  height: clamp(14rem,20dvw,20rem);
  background-size: cover;
  background-position-x: right;
  background-position-y: top;
  clip-path: polygon(0% 0%,100% 0%,100% 100%);
  shape-outside: polygon(0% 0%,100% 0%,85% 100%);
  margin-left: 1dvw
}
@media only screen and (max-width:415px) {
  .small-image-div {
    display: none
  }
}
.jumping01 {
  background-image: url('../images/jumping01.jpg')
}
.jumping02 {
  background-image: url('../images/jumping02.jpg')
}
.jumping03 {
  background-image: url('../images/jumping03.jpg')
}
.jumping04 {
  background-image: url('../images/jumping04.jpg')
}
.jumping05 {
  background-image: url('../images/jumping05.jpg')
}
.jumping06 {
  background-image: url('../images/jumping06.jpg')
}
.who-text-div {
  width: clamp(18rem,40dvw,60rem);
  vertical-align: text-top;
  text-align: justify;
  flex: 1 1 40dvw
}
.who-text-div h3 {
  text-align: left;
  color: #a32a04;
  padding: .6dvw 0 .2dvw;
  font-size: clamp(1.5rem, 1.8dvw, 1.8rem)
}
.who-text-div p {
  margin-top: clamp(.7rem,1dvw,1rem);
  font-size: .85rem;
  line-height: 1.2rem
}
.orange-line {
  width: 90%;
  margin-left: 10%;
  line-height: 0;
  height: 0;
  border-top: solid #a32a04;
  border-top-width: clamp(.2rem,.4dvw,.4rem);
  color: #a32a04
}
@media only screen and (max-width:990px) {
  .who-text-div {
    width: clamp(18rem,90dvw,90rem)
  }
}
#a-guide {
  width: 100%;
  text-align: center;
  background: linear-gradient(#fff 50%,#2a2e3a2a 80%)
}
#a-guide h1 {
  color: #2a2e3a;
  text-shadow: none;
  font-size: clamp(1.5rem, 3.5dvw, 3.5rem)
}
@media only screen and (max-width:650px) {
  #a-guide {
    padding: 1rem 0 .5rem;
    background: linear-gradient(#2a2e3a 5%,#000 95%)
  }
  #a-guide h1 {
    color: #fff;
    text-shadow: rgba(164,222,248,.4) 0 2px 12px,rgba(215,222,240,.4) 0 4px 20px,rgba(215,222,240,.4) 0 8px 40px
  }
  #reviews {
    border-top: 1rem solid #000
  }
}
#reviews {
  width: 100%;
  padding: 2dvw 0 0;
  background-image: url('../images/starsBg02.jpg');
  background-repeat: repeat;
  border-top: 1rem solid #2a2e3a;
  border-bottom: 1rem solid #2a2e3a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap column;
  background-attachment: fixed
}
@media only screen and (max-width:650px) {
  #reviews {
    border-top: 0 solid #000
  }
}
.location-container {
  width: 100%;
  display: block;
  position: relative;
  margin-top: calc(-1*clamp(5rem,calc(20dvw - 5rem),15rem))
}
#loc-moon {
  margin-top: calc(-1*clamp(.1rem,calc(10dvw - 1rem),9rem))
}
.left {
  text-align: left
}
.right {
  text-align: right
}
.planet-container {
  display: inline-block;
  overflow: hidden;
  height: clamp(20rem,40dvw,40rem);
  width: clamp(5rem,25dvw,25rem)
}
.planet-container img {
  width: 100%;
  height: 100%;
  display: block;
  max-inline-size: none;
  max-block-size: none;
  object-fit: cover;
  position: relative;
  z-index: 10
}
.img-left {
  object-position: 100% 0
}
.img-right {
  object-position: 0 0
}
.planet-text-container {
  border: 10px solid #2a2e3a;
  border-width: clamp(.25rem,.6dvw,.6rem);
  position: absolute;
  left: 0;
  top: clamp(3.5rem,calc(40dvw/3 - 2rem),12.5rem);
  width: 100%;
  height: clamp(12rem,15dvw,15rem);
  z-index: 5;
  display: flex;
  align-items: center
}
.planet-text {
  width: clamp(20rem,55dvw,55rem)
}
.leftish {
  margin-left: clamp(5rem,25vw,25rem)
}
.rightish {
  margin: 0 clamp(5rem,25vw,25rem) 0 auto
}
.text-left {
  background: linear-gradient(to right,#2a2e3a3b 5%,#2a2e3a 80%);
  clip-path: polygon(0% 0%,90% 0%,80% 100%,0% 100%);
  text-align: left
}
.text-right {
  background: linear-gradient(to left,#2a2e3a3b 5%,#2a2e3a 80%);
  clip-path: polygon(10% 0%,100% 0%,100% 100%,20% 100%);
  text-align: right
}
#reviews h3 {
  padding-bottom: clamp(.4rem,.8dvw,.8rem)
}
#reviews h1 {
  font-size: clamp(1.5rem, 3dvw, 3rem);
  line-height: clamp(1.8rem, 3dvw, 3rem)
}
#reviews p {
  font-size: clamp(.8rem, 1.1dvw, 1.1rem);
  line-height: 1.3rem
}
@media only screen and (max-width:900px) {
  .text-left,
  .text-right {
    clip-path: none
  }
  .planet-text {
    width: clamp(20rem,70dvw,45rem)
  }
}
.do-you-have {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: nowrap row;
  align-items: flex-start;
  margin-top: clamp(3rem,8dvw,8rem);
  background: linear-gradient(#fff 20%,#2a2e3a2c 20%,#2a2e3a2c 80%,#fff 80%)
}
.do-you-image {
  width: clamp(18rem,35dvw,35rem);
  height: clamp(9.6rem,30dvw,30rem);
  background-image: url('../images/join.jpeg');
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 100%,20% 0%,80% 0,60% 100%,63% 100%,83% 0%,100% 0%,80% 100%)
}
.do-you-text {
  width: clamp(18rem,35dvw,35rem);
  height: clamp(9.6rem,30dvw,30rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap column
}
.do-you-have .do-you-text h1 {
  color: #2c4047;
  text-shadow: none
}
.do-you-have .do-you-text h3 {
  color: #2a2e3a
}
.join-button-text {
  width: clamp(18rem,22dvw,22rem);
  height: clamp(2rem,2.6dvw,2.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap row;
  background-color: #2c4047;
  font-family: AGCond,Arial,Helvetica,sans-serif;
  font-size: clamp(1rem, 1.2dvw, 1.2rem);
  text-transform: uppercase;
  clip-path: polygon(0% 100%,15% 0%,85% 0,70% 100%,73% 100%,88% 0%,100% 0%,85% 100%);
  color: #fff
}
.join-button {
  filter: none;
  margin-top: clamp(1rem,1.5dvw,1.5rem)
}
.join-button:hover {
  filter: var(--ds)
}
.join-button:hover .join-button-text {
  background-color: #ffffffce;
  color: #2c4047
}
.join-button:active {
  filter: none
}
@media only screen and (max-width:800px) {
  .do-you-have {
    background: #2a2e3a2c
  }
  .do-you-ds-box {
    display: none
  }
  .do-you-text {
    width: fit-content
  }
}
#eat-sleep {
  width: 100%;
  margin-top: clamp(3rem,8dvw,8rem);
  margin-bottom: clamp(3rem,10dvw,10rem)
}
.eat-sleep-container {
  width: 100%;
  height: clamp(15rem,30dvw,30rem);
  clip-path: polygon(0% 0%,29% 0%,9% 100%,10% 100%,30% 0%,90% 0%,70% 100%,71% 100%,91% 0%,100% 0%,100% 100%,0% 100%);
  background-image: url('../images/eatSleep.jpg');
  background-size: cover;
  background-position: center
}
.eat-text-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: wrap column;
  width: 100%;
  height: 100%
}
.eat-text-container h1 {
  display: block;
  font-family: Hacked,Ethnocentric,Impact,'Arial Narrow Bold',sans-serif
}
footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: nowrap column;
  background-image: url('../images/starsBg02.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  border-top: 1rem solid #2a2e3a;
  padding: 3rem 0 4rem
}
.copyright {
  padding: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000
}
.copyright p {
  color: #d4dbed;
  font-size: clamp(.6rem, .8dvw, .8rem)
}
.borderline {
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,#000 30%,#bdd6e7 50%,#000 70%)
}
.logo p {
  font-size: clamp(2rem, 5dvw, 5rem)
}
.logo .j {
  padding-bottom: clamp(1rem,2.5dvw,2.5rem)
}
footer h1 {
  font-size: clamp(1.3rem, 2.5dvw, 2.5rem)
}