@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --font-red: #b20e1e;
    --font-blue: #3300ff;
    --font-green: #3a952f;
    --font-yellow: #969100;
    --font-grey: #818181;
}

  html {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
  }

  .prefix, .suffix {
    font-size: 0.9rem;
  }
  
  .bracket {
    color: var(--font-blue);
    font-size: 0.8rem;
  }

  .button-text {
    color: var(--font-red);
    font-size: 1.2rem;
    font-weight: 500;
  }

  #logoDiv {
    writing-mode: vertical-lr;
    font-size: 3.75rem;
    font-weight: 600;
    line-height: 3.75rem;
}

#codeDiv {
    font-size: 1rem;
}

#codeDiv li:before {
    font-weight: 300;
    color: #337792;
  }

.blue {
    color: var(--font-blue);
}

.red {
    color: var(--font-red);
}

.green {
    color: var(--font-green);
}

.yellow {
    color: var(--font-yellow);
}

.grey {
    color: var(--font-grey);
}