@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap);
@font-face {
  font-family: metro;
  src: url('../fonts/Metropolis-Light.otf') format('OpenType');
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: metro;
  src: url('../fonts/Metropolis-Regular.otf') format('OpenType');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: metro;
  src: url('../fonts/Metropolis-Medium.otf') format('OpenType');
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: metro;
  src: url('../fonts/Metropolis-SemiBold.otf') format('OpenType');
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: metro;
  src: url('../fonts/Metropolis-Bold.otf') format('OpenType');
  font-weight: 700;
  font-style: normal
}
html {
  font-family: metro,Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000
}
.prefix,
.suffix {
  font-size: .9rem;
  color: #bbb
}
.bracket {
  color: #bbb;
  font-size: 1rem
}
.button-text {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: font-size .25s,color 1s
}
nav li:hover .button-text {
  font-size: 1.2rem;
  color: #f0d909
}
#logoDiv {
  writing-mode: vertical-lr
}
h1 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 3.75rem;
  font-family: Poppins,Arial,Helvetica,sans-serif
}
#codeDiv {
  font-size: .9rem;
  letter-spacing: .05rem
}
#codeDiv ol {
  font-weight: 500
}
#codeDiv li:before {
  font-weight: 300;
  color: #337792
}
#terminal {
  font-size: .9rem;
  letter-spacing: .05rem;
  font-weight: 400
}
.term {
  color: #424242
}
#terminal h2 {
  letter-spacing: .03rem;
  line-height: 1.3rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin: .8rem 0
}
.pItemClass ol,
.pItemClass ul {
  font-size: .95rem;
  font-weight: 500;
  line-height: 1.2rem
}
h3 {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--font-red)
}
#about h2,
#contact h2,
.pItemClass h2 {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: Poppins,Arial,Helvetica,sans-serif;
  color: #000
}
p {
  font-size: .95rem;
  font-weight: 500;
  line-height: 1.2rem
}
.projectDesc {
  color: #333;
  font-size: .95rem;
  font-weight: 300
}
.portfolioDiv figcaption {
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--font-red);
  letter-spacing: .1rem
}
#contactWays > *,
#skills > * {
  font-size: 2em
}
i[aria-label]:after {
  font-size: 1rem;
  font-family: metro,Arial,Helvetica,sans-serif;
  font-weight: 500
}
.linkContainer a:link {
  color: #000;
  text-decoration: underline;
  font-size: .9rem;
  font-weight: 600
}
.linkContainer a:hover {
  text-decoration: none
}
.linkContainer a:active {
  text-decoration: underline;
  color: var(--font-red)
}
.blue {
  color: var(--font-blue)
}
.red {
  color: var(--font-red)
}
.green {
  color: var(--font-green)
}
.yellow {
  color: var(--font-yellow)
}
.grey {
  color: var(--font-grey)
}
.black {
  color: #000
}
.bold {
  font-weight: 600
}
footer {
  color: var(--font-grey);
  font-size: .8rem;
  font-weight: 300
}