:root {
    --font-red: #b20e1e;
    --font-blue: #3300ff;
    --font-green: #3a952f;
    --font-yellow: #969100;
    --font-grey: #818181;

    --ds: drop-shadow(rgba(0, 0, 0, 0.3) 1px 2px 2px);
    --mshadow: rgba(34, 34, 34, 0.1) 0px 1px 1px,rgba(34, 34, 34, 0.1) 0px 2px 2px,rgba(34, 34, 34, 0.1) 1px 3px 8px
      
}

/* Header and nav */

nav {
    width: 100%;
    margin-top: clamp(1rem, 2dvw, 2rem);
    margin-bottom: clamp(1rem, 2dvw, 2rem);
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

nav li {
    border: 1px solid #d3d3d3;
    height: clamp(1.75rem, 2.25dvw, 2.25rem);
    width: clamp(8rem, 11.25dvw, 11.25rem);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3dvw;

}

.button-text {
  padding: 0 0.3dvw;
}

.prefix,
.bracket,
.suffix {
  padding: 0;
}



                    /* Main content */

#bodyContainer {
    margin-top: clamp(1.5rem, 2.5dvw, 2.5rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
}

#mainDiv {
    margin-left: clamp(0.5rem, 1dvw, 1rem);
    margin-right: clamp(0.5rem, 1dvw, 1rem);
    width: 37dvw;
    max-width: 37rem;
}

.portfolioDiv {
    margin: 0 0.2dvw;
    width: 5.75dvw;
    height: 47dvw;
    max-height: 47rem;
    position: relative;
    writing-mode: vertical-lr;
    cursor: pointer;
    transition-timing-function: ease;
    transition: width 1s;
  }
  
  .portfolioDiv .imgBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 94%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.3), 0px 0px 6px 0 rgba(0, 0, 0, 0.2), 2px 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .portfolioDiv figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 3dvw;
    max-width: 3rem;
    height: 35dvw;
    max-height: 35rem;
    background: linear-gradient(#ffffffbb 50%, #ffffff00 100%);
    z-index: 2;
    padding-top: 0.8dvw;
  }
  
  .portfolioImg {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
    transition: filter 1s;
  }

#welcome, #aObject {
    width: 100%;
}

#welcome {
    margin-top: clamp(1.7rem, 3.4dvw, 3.4rem);
}

#aObject {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

#logoDiv {
    width: 4.8dvw;
    max-width: 4.8rem;
}

#codeDiv ol {
    list-style-type: none;
    margin-left: clamp(0.5rem, 1dvw, 1rem);
    margin-top: clamp(0.5rem, 1dvw, 1rem);
    counter-reset: line-number;
}
  
#codeDiv li {
    position: relative;
    padding-left: clamp(1.7rem, 3.5dvw, 3.5rem);  
    line-height: 1.1rem;  
}

#codeDiv li:before {
    counter-increment: line-number;
    content: counter(line-number);
    width: 1.5dvw;
    max-width: 1.5rem;
    text-align: right;
    position: absolute;
    left: 0;
    font-weight: 300;
    color: #337792;
    vertical-align: middle;
}
  
.indent::before {
    content: ' ';
    font-size: 1.1rem;
    padding-left: clamp(0.7rem, 1.5dvw, 1.5rem);
    border-left: 1px solid #cdced1;
}
  
.double-indent::before {
    content: ' ';
    padding-left: clamp(0.7rem, 1.5dvw, 1.5rem);
    font-size: 1.1rem;
    border-left: 1px solid #cdced1;
    border-right: 1px solid #cdced1;
    margin-right: clamp(0.7rem, 1.5dvw, 1.5rem);
}

.empty-row {
    opacity: 0;
}

#terminal {
    width: 100%;
    margin-top: clamp(1.7rem, 3.4dvw, 3.4rem);
    border-top: 1px solid #cdced1;
    padding-top: clamp(0.5rem, 1dvw, 1rem);
}

.term {
    padding-bottom: 0.2dvw;
    border-bottom: 1px solid #424242;
}

#terminalText {
    margin-top: clamp(0.6rem, 1.2dvw, 1.2rem);
}

#portfolioItems {
    position: absolute;
    z-index: 10;
    display: none;
    height: 44dvw;
    max-height: 44rem;
    width: 2dvw;
    top: clamp(2rem, 4dvw, 4rem);
    left: auto;
    right: auto;
    opacity: 0;
    background-color: #ffffffde;
    border: 1px solid #cecece;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.17), 0px 4px 8px 0 rgba(0, 0, 0, 0.07);
    transition-timing-function: ease;
}

.pItemClass {
    position: absolute;
    top: clamp(2rem, 4dvw, 4rem);
    left: 0;
    width: 36dvw;
    max-width: 36rem;
    z-index: 11;
    padding: 0.7dvw;
}

.pItemClass header {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-flow: row nowrap;
    gap: 0.7dvw;
    padding-bottom: 0.5dvw;
    width: 100%;
    border-bottom: 1px solid #cdced1;
}

.pItemClass h3 {
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--font-red);
    margin-top: 1.5dvw;
}

.pItemClass h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #000;
}

.pItemClass p {
    padding-left: 1.4dvw;
    margin-top: 0.4dvw;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 1.2rem;
}

#item-01 {
    opacity: 0;
    display: none;
}

#item-02 {
    opacity: 0;
    display: none;
}

#item-03 {
    opacity: 0;
    display: none;
}

#clickToExitBox {
    position: absolute;
    z-index: 8;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #ffffff81;
    transition: opacity 1s;
}

#about {
    width: 100%;
    height: 4dvw;
    margin-top: clamp(4rem, 7dvw, 7rem);
    margin-bottom: 4rem;
    }

.block {
    display: block;
}