                    /* Header and nav */

nav {
    width: 100%;
    margin: 2dvh 0;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

nav li {
    border: 1px solid #d3d3d3;
    height: 2.25rem;
    width: 11.25rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3rem;

}

.button-text {
  padding: 0 0.3rem;
}

.prefix,
.bracket,
.suffix {
  padding: 0;
}



                    /* Main content */

#bodyContainer {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
}

.mainDivs {
    margin: 0 0.2rem;
    height: 46rem;
}

.portfolioDiv {
    width: 6.25rem;
    position: relative;
    writing-mode: vertical-rl;
}

.portfolioDiv img {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d3d3d3;
    width: 5.9rem;
}

#welcome, #aObject, #aObject table {
    width: 100%;
}

#welcome {
    margin-top: 3.4rem;
}

#aObject {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#logoDiv {
    width: 5rem;
}

#codeDiv ol {
    list-style-type: none;
    margin-left: 1rem;
    margin-top: 1rem;
    counter-reset: line-number;
  }
  
  #codeDiv li {
    position: relative;
    padding-left: 3.5rem;
  }

  #codeDiv li:before {
    counter-increment: line-number;
    content: counter(line-number);
    width: 1.5rem;
    text-align: right;
    position: absolute;
    left: 0;
    font-weight: 300;
    color: #337792;
  }
  
  .indent::before {
    content: '  ';
    margin-left: 1.5rem;
  }
  
  .double-indent::before {
    content: '    ';
    margin-left: 3rem;
  }

  .empty-row {
    opacity: 0;
  }

  