:root {
  --font-red: #b20e1e;
  --font-blue: #3300ff;
  --font-green: #3a952f;
  --font-yellow: #969100;
  --font-grey: #818181;
  --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --ds: drop-shadow(rgba(0, 0, 0, 0.3) 1px 2px 2px);
  --mshadow: rgba(34, 34, 34, 0.1) 0px 1px 1px,rgba(34, 34, 34, 0.1) 0px 2px 2px,rgba(34, 34, 34, 0.1) 1px 3px 8px
}
html {
  scroll-behavior: smooth
}
#mainHeader {
  position: sticky;
  position: -webkit-sticky;
  top: -3.8rem;
  z-index: 7
}
nav {
  width: 100%;
  padding-top: clamp(2rem,4.5dvw,4rem);
  padding-bottom: clamp(1rem,2dvw,2rem);
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom,#ffffffc0 60%,#ffffff00 100%)
}
nav ul {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto
}
nav li {
  border: 0 solid #bebebe;
  height: clamp(1.75rem,2.25dvw,2.25rem);
  width: clamp(8rem,11.25dvw,11.25rem);
  display: flex;
  background-color: #000;
  justify-content: center;
  align-items: center;
  margin: 1px .3dvw 0;
  box-shadow: none;
  border-radius: 0;
  transition: box-shadow .25s
}
nav li:hover {
  margin-top: 0;
  cursor: pointer;
  border-color: #949494;
  box-shadow: var(--shadow)
}
nav li:active {
  box-shadow: none;
  margin-top: 1px
}
.button-text {
  padding: 0 .3dvw
}
.bracket,
.prefix,
.suffix {
  padding: 0
}
#bodyContainer {
  margin-top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap
}
#mainDiv {
  margin-left: clamp(.5rem,1dvw,1rem);
  margin-right: clamp(.5rem,1dvw,1rem);
  width: 37dvw;
  max-width: 37rem;
  position: relative
}
#leftSidePortfolio {
  margin-top: 0;
  display: flex;
  column-gap: .6rem;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: row nowrap
}
#rightSidePortfolio {
  margin-top: 0;
  display: flex;
  column-gap: .6rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap
}
.portfolioDiv {
  margin: 2.5rem .2dvw;
  width: 5.75dvw;
  height: 47dvw;
  max-height: 47rem;
  position: relative;
  writing-mode: vertical-lr;
  cursor: pointer;
  transition: width 1s
}
.portfolioDiv .imgBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 94%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  box-shadow: 1px 2px 4px 0 rgba(0,0,0,.3),0 0 6px 0 rgba(0,0,0,.2),2px 4px 8px 0 rgba(0,0,0,.1)
}
.portfolioDiv figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 3dvw;
  max-width: 3rem;
  height: 35dvw;
  max-height: 35rem;
  background: linear-gradient(#ffffffbb 50%,#ffffff00 100%);
  z-index: 2;
  padding-top: .8dvw
}
.portfolioImg {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: grayscale(100%);
  transition: filter 1s
}
#aObject,
#welcome {
  width: 100%
}
#welcome {
  margin-top: clamp(.9rem,1.5dvw,1.5rem)
}
#aObject {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center
}
#logoDiv {
  width: 4.8dvw;
  max-width: 4.8rem
}
#codeDiv ol {
  list-style-type: none;
  margin-left: clamp(.5rem,1dvw,1rem);
  margin-top: clamp(.5rem,1dvw,1rem);
  counter-reset: line-number
}
#codeDiv li {
  position: relative;
  padding-left: clamp(1.7rem,3.5dvw,3.5rem);
  line-height: 1.1rem
}
#codeDiv li:before {
  counter-increment: line-number;
  content: counter(line-number);
  width: 1.5dvw;
  max-width: 1.5rem;
  text-align: right;
  position: absolute;
  left: 0;
  font-weight: 300;
  color: #337792;
  vertical-align: middle
}
.indent::before {
  content: ' ';
  font-size: 1.1rem;
  padding-left: clamp(.7rem,1.5dvw,1.5rem);
  border-left: 1px solid #cdced1
}
.double-indent::before {
  content: ' ';
  padding-left: clamp(.7rem,1.5dvw,1.5rem);
  font-size: 1.1rem;
  border-left: 1px solid #cdced1;
  border-right: 1px solid #cdced1;
  margin-right: clamp(.7rem,1.5dvw,1.5rem)
}
.empty-row {
  opacity: 0
}
#terminal {
  width: 100%;
  margin-top: clamp(1.7rem,3.4dvw,3.4rem);
  border-top: 1px solid #cdced1;
  padding-top: clamp(.5rem,1dvw,1rem)
}
.term {
  padding-bottom: .2dvw;
  border-bottom: 1px solid #424242
}
#terminalText {
  margin-top: clamp(.6rem,1.2dvw,1.2rem)
}
#portfolio {
  position: absolute;
  z-index: 10;
  display: none;
  width: 100%;
  height: 2rem;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #fffffff5;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top,#cecece71 0%,#858585ef 40%,#8d8d8def 60%,#cecece71 100%);
  box-shadow: rgba(37, 37, 37, 0.25) 0px 7px 27px -1px, rgba(0, 0, 0, 0.3) 0px 6px 16px -4px;
  transition-timing-function: ease
}
.pItemClass {
  position: relative;
  margin-top: -10rem;
  width: 100%;
  z-index: 11;
  padding: 1.7dvw;
  display: none;
  opacity: 0
}
.pItemClass ul {
  list-style: disc outside;
  padding-left: 1.4dvw;
  margin-top: .4dvw
}
.pItemClass header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-flow: row wrap;
  column-gap: .7dvw;
  padding-bottom: .1dvw;
  width: 100%;
  border-bottom: 1px solid #cdced1
}
.projectDesc {
    display: block;
    margin-top: 0.3rem;
}
h3 {
  margin-top: 2.2rem;
  margin-bottom: 1rem;
}
p {
  padding-left: 1.4dvw;
  margin-top: .4dvw
}
#clickToExitBox {
  position: absolute;
  z-index: 8;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #ffffff81;
  transition: opacity 1s
}
#about {
  width: 100%;
  padding-top: clamp(4rem,6dvw,6rem)
}
#about header {
  padding-bottom: .3dvw;
  width: 100%;
  border-bottom: 1px solid #cdced1
}
#contactWays,
#skills,
#toolsUsed {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: .5rem;
  column-gap: .3rem;
  margin-top: 1rem;
}
#contactWays > *,
#skills > * ,
#toolsUsed > * {
  height: 2rem;
  width: 4rem;
  margin-top: .4dvw;
  text-align: center
}
.thumbnailContainer {
    display: flex;
    width: 100%;
    margin-top: .4dvw;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    gap: 1rem;
}
.thumbnails {
    margin-top: 2px;
    border: 1px solid #0000003d;
    height: auto;
    flex: 2 2 7rem;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.thumbnails:hover {
    border: 1px solid #00000046;
    margin-top: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px 0px, rgba(0, 0, 0, 0.3) 0px 4px 8px 0px;
}
.thumbnails:hover > img {

    opacity: 0.4;
}
.full-image {
position: absolute;
left: 50%;
top: 70%;
border:1rem solid #000000e3;
transform: translateX(-50%);
z-index: 20;
box-shadow: rgba(50, 50, 93, 0.25) 4px 13px 27px -5px, rgba(0, 0, 0, 0.3) 2px 8px 16px -8px;
opacity: 0;
max-inline-size: none;
max-block-size: none;
}
i {
  position: relative;
}
i[aria-label]:after {
  opacity: 0;
  content: attr(aria-label);
  padding: .25rem .5rem;
  position: absolute;
  left: 50%;
  top: 105%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 20;
  border: 1px solid #afafaf;
  background: rgba(255,255,255,.877);
  transition: opacity .5s;
  pointer-events: none;
}
i[aria-label]:hover:after {
  opacity: 1;
  transition-delay: 0.15s
}
#contact {
  width: 100%;
  padding-top: clamp(4rem,6dvw,6rem)
}
#contact header {
  padding-bottom: .3dvw;
  width: 100%;
  border-bottom: 1px solid #cdced1
}
footer {
  width: 100%;
  margin-top: 6rem;
  height: 3rem;
  background-color: #000;
  text-align: center;
  padding-top: .7dvw
}