:root {
    --font-red: #b20e1e;
    --font-blue: #3300ff;
    --font-green: #3a952f;
    --font-yellow: #969100;
    --font-grey: #818181;
}

/* Header and nav */

nav {
    width: 100%;
    margin: 2dvh 0;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

nav li {
    border: 1px solid #d3d3d3;
    height: 2.25rem;
    width: 11.25rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3rem;

}

.button-text {
  padding: 0 0.3rem;
}

.prefix,
.bracket,
.suffix {
  padding: 0;
}



                    /* Main content */

#bodyContainer {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row nowrap;
}

.mainDiv {
    margin: 0 1rem;
}

.portfolioDiv {
    margin: 0 0.2rem;
    width: 6.25rem;
    height: 47rem;
    position: relative;
    writing-mode: vertical-lr;
  }
  
  .portfolioDiv .imgBox {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #d3d3d3;
    width: 5.9rem;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }

  .portfolioDiv figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 3.1rem;
    height: 35rem;
    background: linear-gradient(#ffffff9d 50%, #ffffff00 100%);
    z-index: 2;
    padding-top: 0.8rem;
  }
  
  .portfolioImg {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);
  }

#welcome, #aObject, #aObject table {
    width: 100%;
}

#welcome {
    margin-top: 3.4rem;
}

#aObject {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#logoDiv {
    width: 5rem;
}

#codeDiv ol {
    list-style-type: none;
    margin-left: 1rem;
    margin-top: 1rem;
    counter-reset: line-number;
}
  
#codeDiv li {
    position: relative;
    padding-left: 3.5rem;  
    line-height: 1.1rem;  
}

#codeDiv li:before {
    counter-increment: line-number;
    content: counter(line-number);
    width: 1.5rem;
    text-align: right;
    position: absolute;
    left: 0;
    font-weight: 300;
    color: #337792;
    vertical-align: middle;
}
  
.indent::before {
    content: ' ';
    font-size: 1.1rem;
    padding-left: 1.5rem;
    border-left: 1px solid #cdced1;
}
  
.double-indent::before {
    content: ' ';
    padding-left: 1.5rem;
    font-size: 1.1rem;
    border-left: 1px solid #cdced1;
    border-right: 1px solid #cdced1;
    margin-right: 1.5rem;
}

.empty-row {
    opacity: 0;
}

#terminal {
    width: 100%;
    margin-top: 3.4rem;
    border-top: 1px solid #cdced1;
    padding-top: 1rem;
}

.term {
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #424242;
}

#terminalText {
    margin-top: 1.2rem;
}

.block {
    display: block;
}